h1 {
    font-size: 5em;
}

img {
    height: 700px;
}

body {
    background-color: #ffebed;
}

.extrapadding {
    padding: 10px;
}

#yae {
    font-size: 2em;
    font-style: italic;
    color: #ff6b7a;
}